@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@300;500 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.logo {
  height: 60px;
}


.navbar-toggler {
  color: #FFFF !important;
}

button:focus {
  background: #F6F6F6 !important;

}

.parallax {
  background: url("../img/bg-main.png") no-repeat fixed top center;
  height: 550px;
  overflow: hidden;
  position: relative;
  margin-bottom: -65px;
  /* opacity: 0.3; */
}

/* .parallax:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
} */

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

/* Seções */
section {
  padding: 4rem 0;
}

/* Cores de Fundo das Seções */
.bg-cinza {
  background: #F6F6F6;
}

/* Titulos das Seções */
.titulo {
  font-weight: 400;
  margin-top: 50px;
}

/* Seção 2 */
.banner-container {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: -65px;
}

.banner-container img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}


/* Cards Seção 2 */
.card-mais-digital {
  background: #7534D1 !important;
  color: #FFFF;
}

.card-curso {
  transition: 500ms;
}

.card-curso:hover {
  transform: translateY(-10px);

}

/* Cards com ícones Seção 3 */
.icones {
  width: 120px;
  height: 120px;
}

.text-title {
  font-size: 20px;
}

.div-icones {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-10deg);
  transition: transform 0.3s ease-in-out, 
              filter 0.3s ease-in-out;
  /* transform-origin: center center; */
}

.div-icones img {
  transition: transform 0.3s ease-in-out;
}

.div-icones:hover {
  transform: rotate(20deg) scale(1.2);
  filter: brightness(120%);
  animation: beat 1s ease-in-out infinite alternate;
}

.car-link-icones {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rodapé */
.rodape {
  background: #7534D1;
  color: #FFFF;
  padding: 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo-rodape {
  width: 256px;
}

.blocos-footer {
  padding: 20px;
}

.blocos-footer h2 {
  margin-top: 0;
}

.lista-footer a{
  text-decoration: none;
  color: #fff;
}

.endereco {
  padding: 15px 0;
}

/* Botão Flutuante */
#btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  display: none;
  background: #7534D1;
  color: #ffff;
  border: 1px solid #FFFF;
}

#btn-top:hover {
  opacity: 1;
  transform: scale(1.1);
}

#btn-top.show {
  display: inline-block;
}

