@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@300;500 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.logo {
  height: 60px;
}

.navbar-toggler {
  color: #FFFF !important;
}

button:focus {
  background: #F6F6F6 !important;

}

.parallax {
  background: url("../img/bg-main-larger.png") no-repeat fixed top center;
  height: 585px;
  overflow: hidden;
  /*  position: relative; */
  margin-bottom: -65px;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

/* Media query para telas extra grandes (maiores que 1200px) */
@media (min-width: 1200px) {
  .parallax {
    background: url("../img/bg-main.png") no-repeat fixed top center;

  }
}

/* Media query para telas grandes (maiores que 992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .parallax {
    background: url("../img/img-xlarger.png") no-repeat fixed top center;
    height: 500px;
  }
}

/* Media query para telas médias (maiores que 768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .parallax {
    background: url("../img/img-larger.png") no-repeat fixed top center;
    height: 500px;
  }
}

/* Media query para telas pequenas (maiores que 576px) */
@media (min-width: 576px) and (max-width: 767px) {
  .parallax {
    background: url("../img/img-medium.png") no-repeat fixed top center;
    height: 400px;
  }
}

/* Media query para telas muito pequenas (menores que 576px) */
@media (max-width: 575px) {
  .parallax {
    background: url("../img/img-small.png") no-repeat fixed top center;
    height: 250px;
  }
}


/* Seções */
section {
  padding: 4rem 0;
}

/* Cores de Fundo das Seções */
.bg-cinza {
  background: #E6E6E6;
}

.bg-roxo {
  background: #d0a0ff;
  color: #F6F6F6;
}

/* Titulos das Seções */
.titulo {
  font-weight: 400;
  margin-top: 50px;
}

/* Seção 2 e 3 */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  /* altura da seção em pixels */
  height: 50vh;
  /* altura da seção em 20% da altura da tela */
  overflow: hidden;
  /* margin-bottom: -65px; */
  padding: 0;
}

.banner-container h2 {
  color: #7534D1;
  font-size: 75px;
}

.chromebook {
  height: 600px;
  height: 25vh;
}

/* Cards Seção 3 */
.mais-digital {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.mais-digital img {
  width: 200px;
}

.card-mais-digital-1 {
  background: #8F5FC5 !important;
  color: #FFFF;
}

.card-mais-digital-2 {
  background: #7534D1 !important;
  color: #FFFF;
}

.card-mais-digital-3 {
  background: #4F165B !important;
  color: #FFFF;
}

.botao-card-1 {
  width: 100%;
  color: #8F5FC5;
}

.botao-card-1:hover {
  background: #8F5FC5;
  color: #fff;
}

.botao-card-2 {
  width: 100%;
  color: #7534D1;
}

.botao-card-2:hover {
  background: #7534D1;
  color: #fff;
}

.botao-card-3 {
  width: 100%;
  color: #4F165B;
}

.botao-card-3:hover {
  background: #4F165B;
  color: #fff;
}

.card-curso {
  transition: 500ms;
}

.card-curso:hover {
  transform: translateY(-10px);

}

/* Cards com ícones Seção 4 */
.icones {
  width: 120px;
  height: 120px;
}

.text-title {
  font-size: 20px;
}

.div-icones {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-10deg);
  transition: transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.div-icones img {
  transition: transform 0.3s ease-in-out;
}

.div-icones img:hover {
  transform: rotate(20deg) scale(1.2);
  filter: brightness(120%);
  animation: beat 1s ease-in-out infinite alternate;
}

.car-link-icones {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rodapé */
.rodape {
  background: #7534D1;
  color: #FFFF;
  padding: 20px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.logo-rodape {
  width: 256px;
}

.blocos-footer {
  padding: 20px;
}

.blocos-footer h2 {
  margin-top: 0;
}

.blocos-footer img {
  width: 200px;
}

.lista-footer a {
  text-decoration: none;
  color: #fff;
}

.endereco {
  padding: 15px 0;
}

/* Botão Flutuante */
#btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  display: none;
  background: #7534D1;
  color: #ffff;
  border: 1px solid #FFFF;
}

#btn-top:hover {
  opacity: 1;
  transform: scale(1.1);
}

#btn-top.show {
  display: inline-block;
}

.top {
  background-color: #8F5FC5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.bottom {
  background-color: white;
  flex: 1;
}

/* SEÇÃO CHROMEBOOK */
#unified-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /*grid-template-rows: auto;*/
  grid-template-rows: 100px 100px;
  grid-template-areas:
    "image text1"
    "image text2";
  background: linear-gradient(to bottom, #8f5fc5 50%, #F6F6F6 50%);
  position: relative;
  padding: 2rem 4rem;
}

.image-container {
  grid-area: image;
  place-self: center;
  z-index: 1;
  padding: 20px;
}

.text-container-1 {
  place-self: center;
  font-size: 6vh;
  margin-bottom: 35px;
}

.text-container-2 {
  place-self: center;
  font-size: 4vh;
  margin-bottom: 5px;
}

.text-1 {
  padding: 20px;
  place-self: center;
  text-align: center;
  color: #F6F6F6;
}

.text-2 {
  padding: 20px;
  place-self: center;
  text-align: center;
  margin-bottom: -37px;
  color: #8F5FC5;
}

.text-1 p {
  margin-bottom: 0px;
}

.text-2 p {
  margin-bottom: 0px;
}

/* Define as propriedades iniciais para os elementos */
.text-1 {
  grid-area: text1;
  place-self: center;
  text-align: center;
  font-size: 3vw;
  padding: 10px;
}

.text-2 {
  grid-area: text1;
  place-self: center;
  text-align: center;
  font-size: 2vw;
  padding: 10px;
}

.my-image {
  width: 26vw;
  height: 19vw;
  min-height: 19vw;
}

@media (max-width: 1200px) {

  .text-1 {
    font-size: 3vw;
  }

  .text-2 {
    font-size: 2.5vw;
  }

  .my-image {
    width: 27vw;
    min-height: 20vw;
  }
}

@media (max-width: 992px) {

  .text-1 {
    font-size: 3vw;
  }

  .text-2 {
    font-size: 2vw;
  }

  .my-image {
    width: 34vw;
    min-height: 25vw;
  }
}

@media (max-width: 768px) {
  #unified-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 120px;
    grid-template-areas:
      "text1"
      "image"
      "text2";
    padding: 1rem 1rem;
  }

  .text-1 {
    font-size: 5vw;
  }

  .text-2 {
    font-size: 3vw;
  }

  .my-image {
    width: 34vw;
    height: 21.5vw;
  }

  .text-container-1 {
    margin-bottom: 0px;
    margin-top: -20px;
  }

  .text-container-2 {
    margin-top: -20px;
  }

  .image-container {
    padding: 0px;
  }
}

@media (max-width: 576px) {

  #unified-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "text1"
      "image"
      "text2";
    padding: 1rem 1rem;
    margin-top: 30px;
  }

  .text-1 {
    font-size: 5vw;
  }

  .text-2 {
    font-size: 3vw;
    margin-bottom: -15px;
  }

  .my-image {
    width: 34vw;
    height: 21.5vw;
  }

  .text-container-1 {
    margin-bottom: 0px;
  }

  .text-container-2 {
    margin-top: 0px;
  }

  .image-container {
    padding: 0px;
  }

}

.carousel-container {
  /* width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative; */

  width: 100%;
    overflow: hidden;
    position: relative; /* Para posicionar os botões de navegação de forma absoluta */
}

.carousel-slider {
  display: flex;
  transition: all 0.5s ease;
  gap: 10px;
  will-change: transform;
}

.carousel-slider .card {
  flex: 0 0 auto;
  width: calc(100% / 5);
  /* Mostrando 3 cards por vez */
  padding: 20px;
  box-sizing: border-box;
  height: 200px;
  display: flex;
  align-items: center;
}

.carousel-slider .card .capa {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
  height: 80px;
  width: 80px;
}

.carousel-slider .card .card-body{
padding: 0px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7); /* Para adicionar uma opacidade e torná-los ligeiramente transparentes */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.carousel-controls button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #7534D1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 1); /* Tornar o botão completamente opaco quando o mouse estiver sobre ele */
}

#prev {
  left: 10px;
  color: #7534D1;
  height: 80%;
}

#next {
  right: 10px;
  color: #7534D1;
  height: 80%;
}

@media (max-width: 1200px) {
  .carousel-slider .card {
    width: calc(100% / 4);
    /* Mostrando 2 cards por vez em telas menores */
  }
}

@media (max-width: 992px) {
  .carousel-slider .card {
    width: calc(100% / 3);
    /* Mostrando 2 cards por vez em telas menores */
  }
}

@media (max-width: 768px) {
  .carousel-slider .card {
    width: calc(100% / 2);
    /* Mostrando 2 cards por vez em telas menores */
  }
}

@media (max-width: 480px) {
  .carousel-slider .card {
    
    max-width: 50%;
    /* Mostrando 1 card por vez em telas muito pequenas */
  }
}
